.contact-us {
  background: $medium-orange;

  .pure-form input,
  .pure-form textarea {
    background-color: #ffdada;
  }

  .pure-form textarea {
    height: 150px;
    resize: none;
  }
}

.contact-us p {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: $sm-width) {
  .contact-us {
    padding: 20px 50px;
  }

  .contact-us p {
    font-size: 25px;
  }
}

@media screen and (min-width: $md-width) {
  .contact-us {
    padding: 30px 150px;
  }
}

@media screen and (min-width: $lg-width) {
  .contact-us {
    padding: 50px 200px;
  }

  .contact-us p {
    font-size: 30px;
  }
}
