.donate-parallax {
  background-image: asset-url("img/donate-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 290px;

  @media screen and (min-width: $md-width) {
    height: 550px;
  }
}

.donate-chart-container {
  position: relative;
  height: 300px;
}
