@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Light.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Light.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Light.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Regular.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Regular.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Regular.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBold.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBold.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBoldItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBoldItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBoldItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

html {
  font-family: 'Metropolis', sans-serif;
  color: $dark-gray;
  font-size: 11px;

  @media screen and (min-width: $sm-width) {
    font-size: 15px;
  }

  @media screen and (min-width: $lg-width) {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend .heavy-vertical-margin;
  font-size: 2em;
}

ul {
  list-style-type: none;
  padding: 0;

  li:before {
    content: "•";
    margin-right: 7px;
  }
}

p, li {
  @extend .medium-vertical-margin;
}

p {
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "“";
}

blockquote:after {
  content: "”";
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

.content-container {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 5px;
  overflow: auto;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px; /* black lines */
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// Font weight classes
.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

// Text color classes

.dark-gray {
  color: $dark-gray;
}

.light-gray {
  color: $light-gray;
}

.dark-orange {
  color: $dark-orange;
}

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

// Background color classes

.bg-light-gray {
  background-color: $bg-light-gray;
}

// Text align classes

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Zero margin

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-vertical-margin {
  @extend .no-margin-top;
  @extend .no-margin-bottom;
}

.no-margin {
  margin: 0;
}

// Light margin

.light-margin-top {
  margin-top: $light-margin;
}

.light-margin-bottom {
  margin-bottom: $light-margin;
}

.light-vertical-margin {
  @extend .light-margin-top;
  @extend .light-margin-bottom;
}

.light-margin {
  margin: $light-margin;
}

// Medium margin

.medium-margin-top {
  margin-top: $medium-margin;
}

.medium-margin-bottom {
  margin-bottom: $medium-margin;
}

.medium-vertical-margin {
  @extend .medium-margin-top;
  @extend .medium-margin-bottom;
}

.medium-margin {
  margin: $medium-margin;
}

// Heavy margin

.heavy-margin-top {
  margin-top: $heavy-margin;
}

.heavy-margin-bottom {
  margin-bottom: $heavy-margin;
}

.heavy-vertical-margin {
  @extend .heavy-margin-top;
  @extend .heavy-margin-bottom;
}

.heavy-margin {
  margin: $heavy-margin;
}

// Float classes

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Responsive show

.show-on-lg {
  visibility: hidden;
}

@media screen and (min-width: $sm-width) {
  .content-container {
    padding: 0 3em;
  }
}

@media screen and (min-width: $md-width) {
  .content-container {
    padding: 0 5em;
  }

  .float-left-md {
    float: left;
  }

  .float-right-md {
    float: right;
  }
}

@media screen and (min-width: $lg-width) {
  .show-on-lg {
    visibility: visible;
  }

  .hide-on-lg {
    visibility: hidden;
  }
}
