@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Light.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Light.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Light.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Regular.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Regular.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Regular.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBold.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBold.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBoldItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBoldItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBoldItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

html {
  color: $dark-gray;
  font-size: 11px;

  @media screen and (min-width: $sm-width) {
    font-size: 15px;
  }

  @media screen and (min-width: $lg-width) {
    font-size: 17px;
  }
}

.content-container,
h1, h2, h3, h4, h5, h6, p, header, blockquote, ul li {
  font-family: 'Metropolis', sans-serif;
}

.content-container, p, header, blockquote, ul li {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  @extend .heavy-vertical-margin;
}

/*
 * Linear fit
 *
 * g(x) = 0.02*x**2 - 0.4*x + 2.6
 */
h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 0.9em; }


ul {
  list-style-type: none;
  padding: 0;

  li:before {
    content: "•";
    margin-right: 7px;
  }
}

p, li {
  @extend .medium-vertical-margin;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "“";
}

blockquote:after {
  content: "”";
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

.content-container {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 5px;
  overflow: auto;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px; /* black lines */
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// Font weight classes
.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

// Text color classes

.dark-gray {
  color: $dark-gray;
}

.light-gray {
  color: $light-gray;
}

.dark-orange {
  color: $dark-orange;
}

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

// Border radius classes

.light-border-radius {
  border-radius: 5px;
}

// Background color classes

.very-light-gray-bg {
  background-color: $very-light-gray;
}

.very-light-orange-bg {
  background-color: $very-light-orange;
}

// Text align classes

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Zero margin

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-vertical-margin {
  @extend .no-margin-top;
  @extend .no-margin-bottom;
}

.no-margin {
  margin: 0;
}

// Light margin

.light-top-margin {
  margin-top: $light-margin;
}

.light-bottom-margin {
  margin-bottom: $light-margin;
}

.light-left-margin {
  margin-left: $light-margin;
}

.light-right-margin {
  margin-right: $light-margin;
}

.light-vertical-margin {
  @extend .light-top-margin;
  @extend .light-bottom-margin;
}

.light-horizontal-margin {
  @extend .light-left-margin;
  @extend .light-right-margin;
}

.light-margin {
  @extend .light-top-margin;
  @extend .light-bottom-margin;
  @extend .light-left-margin;
  @extend .light-right-margin;
}

// Medium margin

.medium-top-margin {
  margin-top: $medium-margin;
}

.medium-bottom-margin {
  margin-bottom: $medium-margin;
}

.medium-left-margin {
  margin-left: $medium-margin;
}

.medium-right-margin {
  margin-right: $medium-margin;
}

.medium-vertical-margin {
  @extend .medium-top-margin;
  @extend .medium-bottom-margin;
}

.medium-horizontal-margin {
  @extend .medium-left-margin;
  @extend .medium-right-margin;
}

.medium-margin {
  @extend .medium-top-margin;
  @extend .medium-bottom-margin;
  @extend .medium-left-margin;
  @extend .medium-right-margin;
}

// Heavy margin

.heavy-top-margin {
  margin-top: $heavy-margin;
}

.heavy-bottom-margin {
  margin-bottom: $heavy-margin;
}

.heavy-left-margin {
  margin-left: $heavy-margin;
}

.heavy-right-margin {
  margin-right: $heavy-margin;
}

.heavy-vertical-margin {
  @extend .heavy-top-margin;
  @extend .heavy-bottom-margin;
}

.heavy-horizontal-margin {
  @extend .heavy-left-margin;
  @extend .heavy-right-margin;
}

.heavy-margin {
  @extend .heavy-top-margin;
  @extend .heavy-bottom-margin;
  @extend .heavy-left-margin;
  @extend .heavy-right-margin;
}

// Light padding

.light-top-padding {
  padding-top: $light-padding;
}

.light-bottom-padding {
  padding-bottom: $light-padding;
}

.light-left-padding {
  padding-left: $light-padding;
}

.light-right-padding {
  padding-right: $light-padding;
}

.light-vertical-padding {
  @extend .light-top-padding;
  @extend .light-bottom-padding;
}

.light-horizontal-padding {
  @extend .light-left-padding;
  @extend .light-right-padding;
}

.light-padding {
  @extend .light-top-padding;
  @extend .light-bottom-padding;
  @extend .light-left-padding;
  @extend .light-right-padding;
}

// Medium padding

.medium-top-padding {
  padding-top: $medium-padding;
}

.medium-bottom-padding {
  padding-bottom: $medium-padding;
}

.medium-left-padding {
  padding-left: $medium-padding;
}

.medium-right-padding {
  padding-right: $medium-padding;
}

.medium-vertical-padding {
  @extend .medium-top-padding;
  @extend .medium-bottom-padding;
}

.medium-horizontal-padding {
  @extend .medium-left-padding;
  @extend .medium-right-padding;
}

.medium-padding {
  @extend .medium-top-padding;
  @extend .medium-bottom-padding;
  @extend .medium-left-padding;
  @extend .medium-right-padding;
}

// Heavy padding

.heavy-top-padding {
  padding-top: $heavy-padding;
}

.heavy-bottom-padding {
  padding-bottom: $heavy-padding;
}

.heavy-left-padding {
  padding-left: $heavy-padding;
}

.heavy-right-padding {
  padding-right: $heavy-padding;
}

.heavy-vertical-padding {
  @extend .heavy-top-padding;
  @extend .heavy-bottom-padding;
}

.heavy-horizontal-padding {
  @extend .heavy-left-padding;
  @extend .heavy-right-padding;
}

.heavy-padding {
  @extend .heavy-top-padding;
  @extend .heavy-bottom-padding;
  @extend .heavy-left-padding;
  @extend .heavy-right-padding;
}

// Float classes

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Responsive show

.show-on-lg {
  visibility: hidden;
}

@media screen and (min-width: $sm-width) {
  .content-container {
    padding: 0 3em;
  }
}

@media screen and (min-width: $md-width) {
  .content-container {
    padding: 0 5em;
  }

  .float-left-md {
    float: left;
  }

  .float-right-md {
    float: right;
  }
}

@media screen and (min-width: $lg-width) {
  .show-on-lg {
    visibility: visible;
  }

  .hide-on-lg {
    visibility: hidden;
  }
}
