@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Light.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Light.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Light.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-Regular.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-Regular.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-Regular.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-LightItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-LightItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-LightItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBold.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBold.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: asset-url("font/Metropolis/Webfonts/EOT/Metropolis-SemiBoldItalic.eot") format("eot")
     , asset-url("font/Metropolis/Webfonts/WOFF2/Metropolis-SemiBoldItalic.woff2") format("woff2")
     , asset-url("font/Metropolis/Webfonts/WOFF/Metropolis-SemiBoldItalic.woff") format("woff")
     , asset-url("font/Metropolis/TrueType/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

html {
  color: $dark-gray;
  font-size: 13px;

  @media screen and (min-width: $sm-width) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

.content-container,
.pure-g [class*="pure-u"],
h1, h2, h3, h4, h5, h6, p, header, blockquote, ul li {
  font-family: 'Metropolis', sans-serif;
}

.content-container,
.pure-g [class*="pure-u"],
p, header, blockquote, ul li {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $heavy-margin;
  margin-bottom: $heavy-margin;
}

a {
  color: $medium-orange;
}

a:hover,
a:visited {
  color: $dark-orange;
}

/*
 * Linear fit
 *
 * g(x) = 0.02*x**2 - 0.4*x + 2.6
 */
h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 0.9em; }

ul {
  list-style-type: none;
  padding: 0;

  li:before {
    content: "•";
    margin-right: 7px;
  }
}

p, li {
  margin-top: $medium-margin;
  margin-bottom: $medium-margin;
}

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  background-color: $light-gray;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 0 0 $medium-margin 0;
}

.pure-form-message {
  display: inline;
}

.pure-form label {
  margin-bottom: 0;
}

a.pure-button,
a.pure-button:hover,
a.pure-button:active {
  @extend .light-border-radius;
  color: $dark-gray;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "“";
}

blockquote:after {
  content: "”";
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

.content-container {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 1em;
  overflow: auto;

  @media screen and (min-width: $sm-width) {
    padding: 0 2em;
  }

  @media screen and (min-width: $md-width) {
    padding: 0 3em;
  }
}

.quote-section {
  background: $medium-orange;
  color: white;
}

.fa-facebook-f {
  color: $dark-blue;
}

.fa-envelope {
  color: $dark-orange;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px; /* black lines */
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

// Font weight classes
.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

// Text color classes

.white {
  color: white;
}

.dark-gray {
  color: $dark-gray;
}

.light-gray {
  color: $light-gray;
}

.dark-orange {
  color: $dark-orange;
}

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

// Border radius classes

.light-border-radius {
  border-radius: $light-border-radius;
}

// Background color classes

.white-bg {
  background-color: white;
}

.very-light-gray-bg {
  background-color: $very-light-gray;
}

.light-gray-bg {
  background-color: $light-gray;
}

.very-light-orange-bg {
  background-color: $very-light-orange;
}

.medium-orange-bg {
  background-color: $medium-orange;
}

// Text align classes

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Zero margin

.no-top-margin {
  margin-top: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-left-margin {
  margin-left: 0 !important;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-vertical-margin {
  @extend .no-top-margin;
  @extend .no-bottom-margin;
}

.no-horizontal-margin {
  @extend .no-left-margin;
  @extend .no-right-margin;
}

.no-margin {
  @extend .no-top-margin;
  @extend .no-bottom-margin;
  @extend .no-left-margin;
  @extend .no-right-margin;
}

// auto margin

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}

// Light margin

.light-top-margin {
  margin-top: $light-margin !important;
}

.light-bottom-margin {
  margin-bottom: $light-margin !important;
}

.light-left-margin {
  margin-left: $light-margin !important;
}

.light-right-margin {
  margin-right: $light-margin !important;
}

.light-vertical-margin {
  @extend .light-top-margin;
  @extend .light-bottom-margin;
}

.light-horizontal-margin {
  @extend .light-left-margin;
  @extend .light-right-margin;
}

.light-margin {
  @extend .light-top-margin;
  @extend .light-bottom-margin;
  @extend .light-left-margin;
  @extend .light-right-margin;
}

// Medium margin

.medium-top-margin {
  margin-top: $medium-margin !important;
}

.medium-bottom-margin {
  margin-bottom: $medium-margin !important;
}

.medium-left-margin {
  margin-left: $medium-margin !important;
}

.medium-right-margin {
  margin-right: $medium-margin !important;
}

.medium-vertical-margin {
  @extend .medium-top-margin;
  @extend .medium-bottom-margin;
}

.medium-horizontal-margin {
  @extend .medium-left-margin;
  @extend .medium-right-margin;
}

.medium-margin {
  @extend .medium-top-margin;
  @extend .medium-bottom-margin;
  @extend .medium-left-margin;
  @extend .medium-right-margin;
}

// Heavy margin

.heavy-top-margin {
  margin-top: $heavy-margin !important;
}

.heavy-bottom-margin {
  margin-bottom: $heavy-margin !important;
}

.heavy-left-margin {
  margin-left: $heavy-margin !important;
}

.heavy-right-margin {
  margin-right: $heavy-margin !important;
}

.heavy-vertical-margin {
  @extend .heavy-top-margin;
  @extend .heavy-bottom-margin;
}

.heavy-horizontal-margin {
  @extend .heavy-left-margin;
  @extend .heavy-right-margin;
}

.heavy-margin {
  @extend .heavy-top-margin;
  @extend .heavy-bottom-margin;
  @extend .heavy-left-margin;
  @extend .heavy-right-margin;
}

// Zero padding

.no-top-padding {
  padding-top: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-vertical-padding {
  @extend .no-top-padding;
  @extend .no-bottom-padding;
}

.no-horizontal-padding {
  @extend .no-left-padding;
  @extend .no-right-padding;
}

.no-padding {
  @extend .no-top-padding;
  @extend .no-bottom-padding;
  @extend .no-left-padding;
  @extend .no-right-padding;
}

// Light padding

.light-top-padding {
  padding-top: $light-padding !important;
}

.light-bottom-padding {
  padding-bottom: $light-padding !important;
}

.light-left-padding {
  padding-left: $light-padding !important;
}

.light-right-padding {
  padding-right: $light-padding !important;
}

.light-vertical-padding {
  @extend .light-top-padding;
  @extend .light-bottom-padding;
}

.light-horizontal-padding {
  @extend .light-left-padding;
  @extend .light-right-padding;
}

.light-padding {
  @extend .light-top-padding;
  @extend .light-bottom-padding;
  @extend .light-left-padding;
  @extend .light-right-padding;
}

// Medium padding

.medium-top-padding {
  padding-top: $medium-padding !important;
}

.medium-bottom-padding {
  padding-bottom: $medium-padding !important;
}

.medium-left-padding {
  padding-left: $medium-padding !important;
}

.medium-right-padding {
  padding-right: $medium-padding !important;
}

.medium-vertical-padding {
  @extend .medium-top-padding;
  @extend .medium-bottom-padding;
}

.medium-horizontal-padding {
  @extend .medium-left-padding;
  @extend .medium-right-padding;
}

.medium-padding {
  @extend .medium-top-padding;
  @extend .medium-bottom-padding;
  @extend .medium-left-padding;
  @extend .medium-right-padding;
}

// Heavy padding

.heavy-top-padding {
  padding-top: $heavy-padding !important;
}

.heavy-bottom-padding {
  padding-bottom: $heavy-padding !important;
}

.heavy-left-padding {
  padding-left: $heavy-padding !important;
}

.heavy-right-padding {
  padding-right: $heavy-padding !important;
}

.heavy-vertical-padding {
  @extend .heavy-top-padding;
  @extend .heavy-bottom-padding;
}

.heavy-horizontal-padding {
  @extend .heavy-left-padding;
  @extend .heavy-right-padding;
}

.heavy-padding {
  @extend .heavy-top-padding;
  @extend .heavy-bottom-padding;
  @extend .heavy-left-padding;
  @extend .heavy-right-padding;
}

// Float classes

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

// Responsive show

.show-on-lg {
  visibility: hidden;
}

@media screen and (min-width: $sm-width) {
  //
}

@media screen and (max-width: $md-width) {
  .rellax {
    transform: translate3d(0, 0, 0) !important;
  }
}

@media screen and (min-width: $md-width) {
  .float-left-md {
    float: left;
  }

  .float-right-md {
    float: right;
  }
}

@media screen and (min-width: $lg-width) {
  .show-on-lg {
    visibility: visible;
  }

  .hide-on-lg {
    visibility: hidden;
  }
}
