.site-header {
  height: 85px;
  border-top: 2px solid $dark-orange;
  border-bottom: 2px solid $dark-orange;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  background: white;
}

.menu-heading {
  display: block;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-orange;
  font-weight: bold;
}

#menu {
  transform: translateX(-101%);
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 10;
  text-align: center;
}

#menu.opened {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.pure-menu-list {
  margin-top: 40px;
  margin: 0 auto;
  width: 100%;
}

#menu .pure-menu-item,
.heading-social {
  text-align: center;
  display: block;
  width: 190px;
  margin: 0 auto;
}

.pure-menu-item:before {
  $width: 150px;

  position: absolute;
  left: 50%;
  width: $width;
  margin-left: - ($width / 2);
  display: block;
  content: "";
  background: #333;
  height: 1px;
}

.pure-menu-item:first-child:before {
  display: none;
}

.pure-menu-link {
  text-transform: uppercase;
  padding: 20px 0;
}

.pure-menu-children {
  display: block;
  position: static;
  background: initial;
}

.pure-menu-allow-hover:hover > .pure-menu-children {
  position: static;
}

#nav-toggle {
  position: relative;
  bottom: 15px;
  right: 10px;
  z-index: 20;
}

.header-placeholder {
  display: none;
}

@media screen and (min-width: $xl-width) {
  $xl-header-height: 65px;

  .site-header {
    position: fixed;
    width: 100vw;
    height: $xl-header-height;
    z-index: 10;
    background: white;
  }

  .header-placeholder {
    display: block;
    height: $xl-header-height + 4px; // for borders
  }

  #menu {
    transform: translateX(0);
    height: 0;
  }

  #menu .pure-menu-item {
    display: inline-block;
  }

  #nav-toggle {
    display: none;
  }

  .pure-menu-list,
  .heading-social {
    position: relative;
    top: $xl-header-height - 39px;
    left: 20px;
  }

  .pure-menu-list {
    width: auto;
  }

  .pure-menu-link {
    padding: 10px 5px;
  }

  .pure-menu-item:before {
    display: none;
  }

  .heading-social {
    display: inline;
  }

  .pure-menu-children {
    position: absolute;
    display: none;
    left: 0;
    top: auto;
    margin: 0;
    padding: 0;
    width: inherit;
    background: white;
  }

  .pure-menu-allow-hover:hover > .pure-menu-children {
    position: absolute;
    display: block;
  }
}
