.site-header {
  position: relative;
  height: 85px;
  border-top: 2px solid $dark-orange;
  border-bottom: 2px solid $dark-orange;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  background: white;
}

.menu-heading {
  position: absolute;
  left: 20px;
  top: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

#menu {
  transform: translateX(-101%);
  position: absolute;
  height: 100vh;
  font-size: 16px;
  top: 0;
  left: 0;
  background: #eee;
  z-index: 10;
  text-align: center;

  @media screen and (max-height: 400px) {
    overflow: scroll;
  }
}

#menu.opened {
  transform: translateX(0);
  transition: transform 0.7s ease-in-out;
}

#menu.closed {
  transform: translateX(-101%);
  transition: transform 0.7s ease-out;
}

.pure-menu-list {
  margin-top: 40px;
  margin: 0 auto;
  width: 100%;
}

.pure-menu-list > .pure-menu-item,
.heading-social,
.menu-heading {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.pure-menu-list > .pure-menu-item {
  width: 200px;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background: none;
}

.pure-menu-item:before {
  $width: 150px;

  position: absolute;
  left: 50%;
  width: $width;
  margin-left: -($width / 2);
  display: block;
  content: "";
  background: #333;
  height: 1px;
}

.pure-menu-item:first-child:before {
  display: none;
}

.menu-heading,
.pure-menu-link,
.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: $dark-orange;
}

.pure-menu-selected > .pure-menu-link,
.pure-menu-selected > .pure-menu-link:visited {
  color: darken($dark-orange, 10%);
}

.pure-menu-link {
  padding: 20px 0;
}

.pure-menu-children {
  display: block;
  position: static;
  background: initial;
}

.pure-menu-allow-hover:hover > .pure-menu-children {
  position: static;
}

#nav-toggle {
  position: relative;
  right: 10px;
  top: 40px;
  z-index: 20;
}

.header-placeholder {
  display: none;
}

.fa-twitter {
  color: desaturate($light-blue, 20%);
}

.fa-facebook-f {
  color: desaturate($dark-blue, 20%);
}

.fa-envelope {
  color: desaturate($medium-orange, 20%);
}

@media screen and (min-width: $xl-width) {
  $xl-header-height: 65px;

  .site-header {
    position: fixed;
    width: 100vw;
    height: $xl-header-height;
    z-index: 10;
    background: white;
  }

  .header-placeholder {
    display: block;
    height: $xl-header-height + 4px; // for borders
  }

  #menu {
    transform: translateX(0);
    overflow: visible;
    height: 0;
  }

  .pure-menu-list > .pure-menu-item {
    display: inline-block;
    margin: 0 20px;
    width: auto;
  }

  #nav-toggle {
    display: none;
  }

  .pure-menu-list,
  .heading-social {
    position: relative;
    top: $xl-header-height - 39px;
  }

  .pure-menu-list {
    width: auto;
  }

  .pure-menu-link {
    padding: 10px 5px;
  }

  .pure-menu-item:before {
    display: none;
  }

  .heading-social {
    display: inline;
  }

  .pure-menu-children {
    position: absolute;
    display: none;
    left: 0;
    top: auto;
    margin: 0;
    padding: 0;
    width: inherit;
    background: white;
  }

  .pure-menu-allow-hover:hover > .pure-menu-children {
    position: absolute;
    display: block;
  }
}
