.site-header {
  position: relative;
  height: $header-height;
  border-top: $header-border solid $dark-orange;
  border-bottom: $header-border solid $dark-orange;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  background: white;
  font-size: 16px;
}

#nav-toggle {
  position: relative;
  right: 10px;
  top: 40px;
  z-index: 20;
}

.header-placeholder {
  display: none;
}

@media screen and (min-width: $lg-width) {
  .site-header {
    position: fixed;
    width: 100vw;
    height: $lg-header-height;
    z-index: 10;
    background: white;
  }

  .header-placeholder {
    display: block;
    height: $lg-header-height + ($header-border * 2);
  }

  #nav-toggle {
    display: none;
  }

  .heading-social {
    display: inline;
    left: 35px;
  }
}
