.home-section-main {
  background-image: asset-url("img/home-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  h1, h2 {
    position: relative;
    color: white;
    top: 230px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }
}

.home-col-container {
  margin: 0 auto;
  max-width: $xl-width;
}

@media screen and (min-width: $sm-width) {
  .home-section-main {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 35px;
    }
  }
}

@media screen and (min-width: $md-width) {
  .home-section-main {
    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 50px;
    }
  }
}
