.home-section {
  transform: translate3d(0, 0, 0);
  min-height: 600px;
  background: white;
  position: relative;
  z-index: 2;

  blockquote {
    font-style: italic;
  }

  blockquote:before {
    content: "“";
  }

  blockquote:after {
    content: "”";
  }
}

.home-section-main {
  background-image: asset-url("img/home-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  h1, h2 {
    position: relative;
    text-align: center;
    margin: 0;
    top: 35vh;
  }

  h1 {
    font-size: 80px;
    color: white;
  }

  h2 {
    text-transform: none;
    color: white;
    font-size: 40px;
  }
}

.home-section-parallax-bg {
  background-image: asset-url("img/home-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.home-section-quote {
  border-top: 10px solid white;
  border-bottom: 100px solid white;
  background: $medium-orange;
  color: white;
  min-height: 0;
  padding: 50px 0;
}

@media screen and (min-width: $sm-width) {
  .home-section-1 {
    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: $md-width) {
  .rellax {
    transform: translate3d(0, 0, 0) !important;
  }
}
