---
layout: page
title: 2017 Gallery
css: ['assets/lightgallery.js/dist/css/lightgallery.min.css']
---

<div id="aniimated-thumbnials">
{% for file in site.static_files %}
  {% if file.path contains 'assets/gallery/2017/full' %}

    {% assign full_url = file.path | relative_url %}
    {% assign thumb_path = 'assets/gallery/2017/thumb/<name>' | replace: '<name>', file.name %}
    {% assign thumb_url = thumb_path | relative_url %}

    <a href="{{ full_url }}">
      <img alt="TODO" src="{{ thumb_url }}">
    </a>

  {% endif %}
{% endfor %}
</div>

<script src="{{ 'assets/lightgallery.js/dist/js/lightgallery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/lg-thumbnail.js/dist/lg-thumbnail.min.js' | relative_url }}"></script>

<script>
(function (document) {
    lightGallery(document.getElementById('aniimated-thumbnials'), {
        thumbnail: true,
        animateThumb: true,
        showThumbByDefault: true
    });
})(document);
</script>
