<header class="site-header">

  <a class="menu-heading" href="{{ '/' | relative_url }}">
    Hear We Art
  </a>

  <button id="nav-toggle" class="hamburger hamburger-cancel float-right">
    <span class="icon"></span>
  </button>

  <nav id="menu" class="pure-menu pure-menu-horizontal">
    {% assign menu_items = site.data.menu %}
    {% include menu-items.html %}

    <div class="heading-social">
      {% for item in site.data.social %}
        <a href="{{ item.link | replace: '<email>', site.email }}" class="pure-menu-heading" target="_blank">
          <i class="{{ item.fa_class }}" aria-hidden="true"></i>
        </a>
      {% endfor %}
    </div>
  </nav>

</header>

<div class="header-placeholder"></div>
