
{% if menu_children %}
<ul class="pure-menu-children">
{% else %}
<ul class="pure-menu-list">
{% endif %}

  {% for item in menu_items %}

    {% if item.childs  %}
      {% assign children_class = 'pure-menu-allow-hover pure-menu-has-children' %}
    {% else %}
      {% assign children_class = '' %}
    {% endif %}

    {% if page.name contains item.route %}
      {% assign selected_class = 'pure-menu-selected' %}
    {% else %}
      {% assign selected_class = '' %}
    {% endif %}


    <li class="pure-menu-item {{ children_class }} {{ selected_class }}">
      <a
        class="pure-menu-link uppercase"
        {% if item.route %}
          href="{{ item.route | relative_url }}"
        {% elsif item.childs %}
          href="#"
        {% endif %}
      >
        {{ item.name }}
      </a>

      {% if item.childs %}
        {% assign menu_items = item.childs %}
        {% assign menu_children = true %}
        {% include menu-items.html %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
